---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/captain_rebel_tv/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Origin-Trial:
      - AuqWincgAuXeuu3KypEMnrrFEJHySaesyJS3EaIH40zvafzrU0Irhb7+5QwZpOqMZrPTjgvFl7Z5jJgy1dNAcQMAAAB6eyJvcmlnaW4iOiJodHRwczovL2luc3RhZ3JhbS5jb206NDQzIiwiZmVhdHVyZSI6IkNyb3NzT3JpZ2luT3BlbmVyUG9saWN5UmVwb3J0aW5nIiwiZXhwaXJ5IjoxNjEzNDExNjYyLCJpc1N1YmRvbWFpbiI6dHJ1ZX0=
      X-Ig-Push-State:
      - c2
      X-Aed:
      - '45'
      X-Ig-Origin-Region:
      - frc
    body:
      encoding: ASCII-8BIT
      string: '{"seo_category_infos":[["Beauty","beauty"],["Dance & Performance","dance_and_performance"],["Fitness","fitness"],["Food
        & Drink","food_and_drink"],["Home & Garden","home_and_garden"],["Music","music"],["Visual
        Arts","visual_arts"]],"logging_page_id":"profilePage_3231033489","show_suggested_profiles":false,"show_follow_dialog":false,"graphql":{"user":{"biography":"I''m
        a 150 cm tall chess coach with an athletic body. In my free time, I teach
        ponies to eat with a knife and fork.","blocked_by_viewer":false,"restricted_by_viewer":null,"country_block":false,"external_url":"https://www.youtube.com/watch?v=jqlWsfMLUs4","external_url_linkshimmed":"https://l.instagram.com/?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjqlWsfMLUs4&e=ATPRm5azjapJ6jo85Jz1cSC0EZm9WV6q-SQv2AMODYi5ziQp8e7Thrya6osMihPWRL3A4APetQg4JGd_&s=1","edge_followed_by":{"count":222},"fbid":"17841403164683879","followed_by_viewer":false,"edge_follow":{"count":84},"follows_viewer":false,"full_name":"Captain
        Rebel","has_ar_effects":false,"has_clips":true,"has_guides":false,"has_channel":false,"has_blocked_viewer":false,"highlight_reel_count":0,"has_requested_viewer":false,"hide_like_and_view_counts":false,"id":"3231033489","is_business_account":false,"is_professional_account":false,"is_joined_recently":false,"business_address_json":null,"business_contact_method":null,"business_email":null,"business_phone_number":null,"business_category_name":null,"overall_category_name":null,"category_enum":null,"category_name":null,"is_private":false,"is_verified":false,"edge_mutual_followed_by":{"count":0,"edges":[]},"profile_pic_url":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-19/s150x150/146832526_518829379098274_1533518211943473932_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_ohc=FEAQtnrfrUwAX-P543S&edm=ABfd0MgBAAAA&ccb=7-4&oh=204ee334898df47c72f708c7de2ef1fa&oe=60F9EA4D&_nc_sid=7bff83","profile_pic_url_hd":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-19/s320x320/146832526_518829379098274_1533518211943473932_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_ohc=FEAQtnrfrUwAX-P543S&edm=ABfd0MgBAAAA&ccb=7-4&oh=b58709c0a7cbe47000e1a9e999fd37b8&oe=60F92075&_nc_sid=7bff83","requested_by_viewer":false,"should_show_category":false,"should_show_public_contacts":false,"username":"captain_rebel_tv","connected_fb_page":null,"edge_felix_video_timeline":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]},"edge_owner_to_timeline_media":{"count":668,"page_info":{"has_next_page":true,"end_cursor":"QVFCWEthM0oydGFwSWxTYXFYc25IR0NwVXNmVHNiTWt1VmJEbndGVDBLV09KUWUwRGVJaVl2U0NmaXNud1J6eDVEdjd3QXBmZ0x5RDNlN2tTa3prcW4tOA=="},"edges":[{"node":{"__typename":"GraphImage","id":"2618499570550571667","shortcode":"CRWx3xrLgKT","dimensions":{"height":810,"width":1080},"display_url":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/217408920_1491107024571850_6338419401501661422_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=e6O77eUA69kAX-XSLHM&edm=ABfd0MgBAAAA&ccb=7-4&oh=72e3ffac8380aa4889b1efec6ed96f50&oe=60FA7C2A&_nc_sid=7bff83","edge_media_to_tagged_user":{"edges":[]},"fact_check_overall_rating":null,"fact_check_information":null,"gating_info":null,"sharing_friction_info":{"should_have_sharing_friction":false,"bloks_app_url":null},"media_overlay_info":null,"media_preview":"ACoftWq8K23AOCTnnI749ePyrQklUhgvXHvWPFKqLwykhiMA54LdePQc/pU7mbcwRCVAOGyRn36Vkuba2ho7MinvmtkBK7txIxnBGO/GTWU2olpPM2jAfftyeu0L1x7Z+tTanuIQtnJz1GB07ck557is9UYL0zVwirakt6lu61I3C4KAYOcgnOf/AK9J5e7nPXnvVB888YrUjUlAfUD19KJK2wJ9zUgKqflKqTzjgde/v/jVp955Mm36AY/WsKZlcAc7gT9MURsoq4wYSki7dhHULITNg5G0BT/MA/hVER2ucbZQR1GDUm/zWIXjYM/h39vbFXAMEj04pz9y1iY+8UttovXzPyb/AAq4t7bqAAXwBgfKf8Kef1qQOPSpUr9imrH/2Q==","owner":{"id":"3231033489","username":"captain_rebel_tv"},"is_video":false,"has_upcoming_event":false,"accessibility_caption":"Photo
        by Captain Rebel in Hijamia_nomada.","edge_media_to_caption":{"edges":[{"node":{"text":"Digital
        nomad life style. A good Colombian coffee and writing some software. #digitalnomad
        #medellin #colombia #colombia\ud83c\udde8\ud83c\uddf4 #kolumbia #nomadadigital
        #softwareengineering #softwaredeveloper"}}]},"edge_media_to_comment":{"count":2},"comments_disabled":false,"taken_at_timestamp":1626369495,"edge_liked_by":{"count":18},"edge_media_preview_like":{"count":18},"location":{"id":"100521875579368","has_public_page":true,"name":"Hijamia_nomada","slug":"hijamia_nomada"},"thumbnail_src":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c180.0.1080.1080a/s640x640/217408920_1491107024571850_6338419401501661422_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=e6O77eUA69kAX-XSLHM&edm=ABfd0MgBAAAA&ccb=7-4&oh=f71595d34b19d62ee621e825dee4ca4d&oe=60F97078&_nc_sid=7bff83","thumbnail_resources":[{"src":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-15/e35/c180.0.1080.1080a/s150x150/217408920_1491107024571850_6338419401501661422_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=e6O77eUA69kAX-XSLHM&edm=ABfd0MgBAAAA&ccb=7-4&oh=ba7c607430fccac3773bf431ad34542c&oe=60FA6319&_nc_sid=7bff83","config_width":150,"config_height":150},{"src":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-15/e35/c180.0.1080.1080a/s240x240/217408920_1491107024571850_6338419401501661422_n.jpg?_nc_ht=instagram.fpei3-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=e6O77eUA69kAX-XSLHM&edm=ABfd0MgBAAAA&ccb=7-4&oh=52c354d2fad957869f544b5bd82e2487&oe=60FA2A91&_nc_sid=7bff83","config_width":240,"config_height":240},{"src":"https://instagram.fpei3-1.fna.fbcdn.net/v/t51.2885-15/e35/c180.0.1080.1080a/s320x320/217408920_1491107024571850_6338419401501661422_n[...]
